{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = allowAdminChanges %}

{% set title = "{pluginName} Settings"|t('commerce-sendcloud', {pluginName: plugin.name}) %}
{% set docTitle = title ~ ' - ' ~ "Plugins"|t('app') %}
{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') }
] %}
{% set selectedSubnavItem = 'settings' %}

{% set tabs = [
    { label: 'Order Sync'|t('commerce-sendcloud'), url: '#settings-order-sync' },
    { label: 'Advanced'|t('commerce-sendcloud'), url: '#settings-advanced' },
] %}

{% block actionButton %}
    {% if allowAdminChanges %}
        {{ parent() }}
    {% endif %}
{% endblock actionButton %}

{% set adminChangesWarning %}
    {% if not allowAdminChanges %}
        <div class="pane">
            <p class="warning">
                {{ "You're not allowed to change system settings. Some of the settings have been disabled."|t('commerce-sendcloud') }}
            </p>
        </div>
    {% endif %}
{% endset %}


{% block content %}
    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', plugin.handle) }}
    {{ redirectInput('commerce-sendcloud/settings') }}

    {% namespace 'settings' %}
        <div id="fields">
            <div>
                <div id="order-sync">
                    {{ adminChangesWarning }}
                </div>
                <div id="advanced" class="hidden">
                    {{ adminChangesWarning }}

                    {{ forms.textField({
                        label: "Plugin name"|t('commerce-sendcloud'),
                        instructions: "The plugin name as you'd like it to be displayed in the Control Panel."|t('commerce-sendcloud'),
                        id: "pluginNameOverride",
                        name: "pluginNameOverride",
                        value: settings.pluginNameOverride,
                        errors: settings.getErrors('pluginNameOverride'),
                        disabled: not allowAdminChanges,
                    }) }}

                </div>
            </div>
        </div>
    {% endnamespace %}
{% endblock content %}
